.header {
    margin: 0 auto;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    background: #cfe7ee;
    border-radius: 20px;
    padding: 5px 0;
}